
.x-pagination{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    &__pages{
        display: flex;
        align-items: center;
    }

    &__arrow{
        text-indent: -99999px;
        width: 15px;
        height: 15px;
        transform: rotate(-45deg);
        padding: 5px;
        &:before{
            content: '';
            width: 15px;
            height: 15px;
            border-left: 2px solid #ccc;
            border-top: 2px solid #ccc;
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        &.is--next{
            transform: rotate(135deg);
        }
    }
    &__list-pages{
        display: flex;
        list-style: none;
        padding: 0;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    &__page{
        border:1px solid #ccc;
        color: #0275d8;
        &.is--active{
            background-color: #0275d8;
            color: #ccc;
            border-color: #0275d8;
        }
    }

    &__link{
        border-left: 1px solid inherit;
        border-right: 1px solid inherit;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: inherit;
    }
}

