<template>
  <div class="x-pagination">
      <div class="x-pagination__pages">
            <a href="#" @click="nextPrev" class="x-pagination__arrow is--prev">prev</a>
            <ul class="x-pagination__list-pages">
                <li class="x-pagination__page" track-by="$index" v-for="page in pages" :key="page">
                    <a href="#" @click="navigate($event,page)" class="x-pagination__link">{{ page }}</a>
                </li>
            </ul>
            <a href="#" @click="nextPrev" class="x-pagination__arrow is--next">next</a>
      </div>

  </div>
</template>

<script>
    
export default{
    props: {
        source: {
            required: true,
        },
    },
    data() {
        return {
            pages: [],
            totalPages: [],
        };
    },
    watch: {
        source() {
            const s = this.source;
            console.log(s);
            this.pages = this.generatePagesArray(s.offset, s.total, s.limit, 10);
        },
    },
    methods: {
        nextPrev(){
            
        },
        navigate($ev, page) {
            $ev.preventDefault();
            page--;
            if (page < 0 || page === this.pages.length ) {
                return;
            }
            this.$emit('navigate', page);
        },
        generatePagesArray: function(currentPage, collectionLength, rowsPerPage, paginationRange)
            {
                var pages = [];
                var totalPages = Math.ceil(collectionLength / rowsPerPage);
                var halfWay = Math.ceil(paginationRange / 2);
                var position;

                if (currentPage <= halfWay) {
                    position = 'start';
                } else if (totalPages - halfWay < currentPage) {
                    position = 'end';
                } else {
                    position = 'middle';
                }

                var ellipsesNeeded = paginationRange < totalPages;
                var i = 1;
                while (i <= totalPages && i <= paginationRange) {
                    var pageNumber = this.calculatePageNumber(i, currentPage, paginationRange, totalPages);
                    var openingEllipsesNeeded = (i === 2 && (position === 'middle' || position === 'end'));
                    var closingEllipsesNeeded = (i === paginationRange - 1 && (position === 'middle' || position === 'start'));
                    if (ellipsesNeeded && (openingEllipsesNeeded || closingEllipsesNeeded)) {
                        pages.push('...');
                    } else {
                        pages.push(pageNumber);
                    }
                    i ++;
                }
                return pages;
            },

        calculatePageNumber: function(i, currentPage, paginationRange, totalPages)
        {
            var halfWay = Math.ceil(paginationRange/2);
            if (i === paginationRange) {
                return totalPages;
            } else if (i === 1) {
                return i;
            } else if (paginationRange < totalPages) {
                if (totalPages - halfWay < currentPage) {
                return totalPages - paginationRange + i;
            } else if (halfWay < currentPage) {
                return currentPage - halfWay + i;
            } else {
                return i;
            }
            } else {
                return i;
            }
        }
    },
};

</script>

<style lang="scss" scoped>
    @import './Pagination.scss';
</style>
