<template>
    <div class="x-menu">
        <div class="x-menu__wrapper">
            <div class="x-menu__account">
            </div>
            <div class="x-menu__itens">
            </div>
        </div>
    </div>
</template>

<script>

export default{
    
}
    
</script>

<style lang="scss" scoped>

</style>
