<!-- borrowed from Nuxt! -->

<template>
  <div>
    <div class="wrapper-loader" :class="{ active: show }">
      <i class="fas fa-spinner fa-10x"></i>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    show: function() {
      return this.$store.state.showLoader;
    },
  },
  components: {},
};
</script>

<style lang="scss">
  .wrapper-loader{
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 85%;
      box-sizing: border-box;
      border: 50px solid white;
      display: flex;
      opacity: 0;
      pointer-events: none;
      transition: 225ms ease-in-out all;

      &.active{
        opacity: 1;
        background-color: rgba(155, 89, 182, 0.7);
        color: white;
      }
    svg {
      margin: auto;
      animation: rotate 4s linear infinite;
    }
  }

  @keyframes rotate {
      100% {
        transform: rotate(360deg)
      }
    }
</style>
