<template>
    <div class="x-container">
        revistas
    </div>
</template>

<script>
    
</script>

<style lang="scss" scoped>
    .x-container{
        background-color: plum;
        width: 100%;
        height: 100%;
    }
</style>
