/**
 * Colors
 */

$color-white-smoke: #F6F6F6;
$color-link-water: #C8CCD6;
$color-robin-s-egg-blue: #16C7C3;
$color-echo-blue: #B1B6C1;
$color-soft-peach: #fca59d;
$color-kournikova: #FDCB5D;
$color-white: #fff;
$color-white-darken: #ebebeb;
$color-gray-lighten: #f9f9f9;
$color-gray-light: #eaeaea;
$color-gray-light-2: #8a8a8a;
$color-gray: #cbcbcb;
$color-gray-dark: #515153;
$color-gray-darken: #222;
$color-black: #000;