
/**
 * General Variables
 * Call on every SASS files
 */
$color-body-text        : $color-gray-dark;
$color-body-bg          : $color-white;
$container-width        : 1280px;
$border-radius          : 12px;
$menu-max-width         : 360px;
