<template>
    <div class="x-personagem">
        <div class="x-revistas">
            revistas que meu personagem participou
        </div>
        <div class="x-escritor">
            escritor do meu personagem
        </div>
        <div class="x-character">
            dado do meu personagem
        </div>
        <div class="x-filmes">
            filmes do meu  personagem
        </div>
    </div>
</template>

<script>
    
    export default{

        data() {
            return {
                id: this.$route.params.id,
            };
        },
    };
</script>

<style lang="scss" scoped>
    @import './Personagem.scss';
</style>
