@import '~@/scss/__config-base.scss';

.x-personagem{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100vh;
    padding: 2% 3%;
    box-sizing: border-box;
}

.x-character{
    background-color: $color-robin-s-egg-blue;
    order: 3;
    width: 69.1%;
    height: 68%;
    margin-left: auto;
}
.x-revistas{
    background-color: $color-kournikova;
    order: 1;
    width: 28%;
    height: 37%;
    
}
.x-escritor{
    background-color: $color-soft-peach;
    order: 2;
    width: 28%;
    margin-top: auto;
    height: 58%;
}
.x-filmes{
    background-color: $color-echo-blue;
    order: 4;
    width: 69.1%;
    height: 27%;
    margin-left: auto;
}