<template>
  <button @click="clicked()" class="botao" :class="custom_class" :type="tipo">
      <slot></slot>
      {{ texto }}
      </button>
</template>

<script>

export default{
    props: {
        tipo: {
            type: String,
            required: true,
        },
        texto: {
            type: String,
        },
        custom_class: {
            type: String,
        },
    },
    methods: {
        clicked() {
            this.$emit('clicked');
        },
    },
};

</script>

<style lang="scss" scoped>

</style>

