<template>
    <div class="x-container">

        <div class="x-container__wrapper">
            <div class="x-container__characters">
                
                <div class="x-container__box" v-for="character in charactersList" :key="character.id">
                    <div class="front">
                        <img :src="`${character.thumbnail.path}.${character.thumbnail.extension}`" alt="">
                    </div>
                    
                    <div class="conteudo">
                        <div class="infos">
                            <div>icon: {{ character.series.available }}</div>
                            <div>icon: {{ character.stories.available }}</div>
                        </div>
                        <span v-text="character.name"></span>
                        <router-link :to="{ name: 'Personagem', params: { id: character.id }}">Ver Mais</router-link>
                        <!-- <vc-button @clicked="seeMore" :tipo="'button'" :texto="'Ver Mais'"></vc-button> -->

                    </div>

                    <div class="more">
                        <vc-button @clicked="addDreamTeam(character)" :tipo="'button'" :texto="'adicionar'">
                            <i class="fas fa-plus"></i>
                        </vc-button>
                    </div>
                </div>
                
            </div>

            <div class="x-dream-team">dream team</div>
        </div>

        <vc-button @clicked="loadingMoreCharacters" :custom_class="'x-container__see-more'" :tipo="'button'" :texto="'Carregar Mais'"><i class="fas fa-angle-down"></i></vc-button>
        <!-- <vc-Pagination :source="pagination" @navigate="update"/> -->
    </div>
</template>

<script>
// eslint-disable-next-line
// import VcPagination from '@/components/pagination/Paginations';
import VcButton from '@/components/botao/Buttons';
import Personagens from '@/js/personagens/Personagens';
import Crypto from 'crypto-js';
import {getCharacter} from 'marvel-api';

export default {
    data() {
        return {
            charactersList: [],
            pagination: [],
            limit: 10,
            actualOffset: 0,
        };
    },
    components: {
        // VcPagination,
        VcButton,
    },
    methods: {
        update(offset) {
            this.getCharacters(offset);
        },
        classCharacters() {
            return new Personagens(Crypto, this.$http);
        },
        getCharacters(offset) {
            this.classCharacters().lista(offset, this.limit).then((x) => {
                x.results.map((elem)=> this.charactersList.push(elem));
                // this.pagination = x;
            });
        },
        loadingMoreCharacters() {
            this.getCharacters(this.actualOffset += 9);
        },
        seeMore() {
        },
        addDreamTeam(character) {
            this.$store.commit('ADD_DREAM_TEAM', character);
        },
        _appendCharacters: (arrayCharacters) => this.charactersList.appen(arr),
    },
    mounted: function() {
        this.getCharacters(0);
        getCharacter()
            .then((x) => this.$store.commit('switch'));
    },
};

</script>

<style lang="scss" scoped>
    @import './Personagens.scss';
</style>
