.x-container{

    width: 100%;
    height: 100%;

    &__characters{
        flex: 1;
        width: 85%;
        height: 100%;
        padding: 100px 15px 15px;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    &__see-more{
        text-transform: uppercase;
        margin: auto;
        display: block;
        min-width: 100px;
        background-color: lightseagreen;
        color: white;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        svg{
            margin-right: 5px;
        }
    }

    &__wrapper{
        display: flex;
    }

    &__box{
        width: 25%;
        height: auto;
        background-color: lightblue;
        box-shadow: 8px 8px 10px #ccc;
        border-radius: 3px;
        margin: 1% 15px;
        transition: ease 195ms;
        position: relative;
        overflow: hidden;

        .front{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 220px;
                position: relative;
                top: -50px;
            }
        }

        .conteudo{
            position: absolute;
            bottom: 0;
            left: 0;
            background: white;
            width: 100%;
            height: 40%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-around;
        }

        .infos{
            width: 80%;
            display: flex;
            justify-content: space-around;
        }

        .more{
            position: absolute;
            bottom: 40%;
            right: 0;
            height: 60%;
            width: 100%;
            transition: 195ms ease-in-out;


            &:hover{
                background-color: rgba(0, 0, 0, 0.5);
                button{
                    opacity: 1;
                    transform: scale(1);
                }
            }

            button{
                    cursor: pointer;
                    outline-width: 0px;
                    color: white;
                    display: block;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 50%;
                    position: absolute;
                    bottom: calc(50% - 50px / 2);
                    right: calc(50% - 50px / 2);
                    width: 50px;
                    height: 50px;
                    opacity: 0;
                    transition: 195ms ease-in-out;
                    transform: scale(1.5);
                    z-index: 1;
                    font-size: 0;
                svg{
                        width: 30px;
                        display: block;
                        height: 30px;
                        position: absolute;
                        right: calc(50% - 30px / 2);
                        bottom: calc(50% - 30px / 2);
                }
            }
        }
        
    }
}

.x-dream-team{
    width: 15%;
}