<template>
  <div class="x-content">
      
    <my-header/>

    <main class="x-main">

        <div class="x-view">
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>

        <div class="x-informarions">
            <div class="x-wrapper">
                <div class="x-share">shares button</div>
            </div>
        </div>
    </main>

  </div>
</template>

<script>
// eslint-disable-next-line
import {routes} from '@/js/routes/routes';

import Header from '@/components/header/Header';

export default{

    data() {
        return {
            routes: routes.filter((route) => route.menu),
            activeInput: false,
        };
    },
    components: {
        'my-header': Header,
    },
};
</script>

<style lang="scss" scoped>
    .x-content{
        display: flex;
        min-height: 100vh;  
    }

    .x-view{
        background-color: #f9f9f9;
    }
    .x-main{
        width: 85%;
        margin-left: auto;
    }

    .out-left-enter-active, .out-left-leave-active,
    .out-right-enter-active, .out-right-leave-active,
    .fade-enter-active, .fade-leave-active {
    transition: all .3s ease;
    }

    .out-left-leave-to,
    .out-right-enter {
    position: absolute;
    transform: translateX(-2.5em);
    opacity: 0;
    }

    .out-left-enter, 
    .out-right-leave-to {
    position: absolute;
    transform: translateX(2.5em);
    opacity: 0;
    }

.fade-enter, .fade-leave-to {
  opacity: 0;
  position: absolute;
}
</style>
