<template>
<header>
    <nav class="x-header">
        <div class="x-header__container">
            <svgicon name="marvel-logo" color="#ee171f #fff"></svgicon>
        </div>
        <div class="x-header__menu">
            <div class="x-header__wrapper">
                <div class="x-header__pages-list">
                    <div class="x-header__link" v-for="link of itensMenu" :key="link.name">
                        <router-link :to="link.path" exact>{{link.name}}</router-link>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>
</template>
<script>
// eslint-disable-next-line    
import All from '@/components/icons/index';
import {routes} from '@/js/routes/routes.js';

export default{

    data() {
        return {
            activeInput: false,
            itensMenu: routes.filter((route) => route.menu),
        };
    },
};
</script> 
<style lang="scss" scoped>
    @import '~@/scss/__config-base.scss';
    @import './Header.scss';
</style>
