header{
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
    left: 0;
    width: 15%;
    height: 100%;

}
.x-header{
    flex: 1 1 auto;
    background-color: #03A9F4;
    &__pages-list{
        display: flex;
        align-items: left;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 16px;
        box-sizing: border-box;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__link{
        margin: 16px 0;
        a{
            text-decoration: none;
            color: white;
            @include font-weight('extra-ultra');
        }
    }
    &__container{
        @include rem(padding,20px);
        background-color: white;
    }
}