<template>
    <div class="x-container">
        oi
    </div>
</template>

<script>
    
</script>

<style lang="scss" scoped>
    .x-container{
        background-color: lightgreen;
        width: 100%;
        height: 100%;
    }
</style>
