<template>
	<div class="menu">
		<ul class="menu-list">
			<router-link class="outer-link" v-for="route of routes" :key="route.name" :to="route.path">
				<a class="inner-link">{{ route.name }}</a>
			</router-link>
		</ul>
	</div>
</template>

<script>

	import { routes } from '@/js/routes/routes.js';

	export default {

		data(){
			return{
				routes:routes.filter((elem)=>{
					if(elem.menu){
						return elem
					}
				})
			}
		}
	}
	
</script>

<style lang="scss" scoped>
	
	@import './Menu';

</style>
