.x-search{

    position: absolute;
    top: 15px;
    right: 0;
    width: 85%;
    z-index: 2;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    $color-1: #1f2931;
    $color-2: #3b4f5d;
    input{
        flex: 1;
        border: none;
        outline: none;
        padding: 15px;
        font-size: 36px;
        background-color: transparent;
        margin-left: 10px;
        color: white;

        &:focus + label:before{
            transform: scale(1);   
        }
    }
    label{
        width: 30px;
        height: 30px;
        margin: auto 50px auto;
        border-radius: 50%;
        padding: 15px;
        background-color: white;
        cursor: pointer;
        box-shadow:  0px 0px 0px 0px lightblue;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 195ms;

        &:hover{
            box-shadow:  0px 0px 30px 10px lightblue;
        }

        &:before{
            content: '';
            width: calc(100% - 190px);
            height: 2px;
            bottom: 0;
            left: 16px;
            position: absolute;
            background-color: white;
            transform: scale(0);
            display: block;
            transition: ease 195ms;
        }
    }
}