<template>
  <div class="x-search">
    <div class="x-search__wrapper">
        <input type="text" name="search" id="search">
        <label for="search">
            <search-icon/>
        </label>
    </div>
</div>
</template>

<script>
    // eslint-disable-next-line
    import SearchIcon from '@/../static/icons/search-svg';

    export default{

        data() {
            return {
            };
        },
        components: {
            'search-icon': SearchIcon,
        },
    };

</script>

<style lang="scss" scoped>
    @import './Search.scss';
</style>
