<template>
  <div id="app">
      <main-container/>
  </div>
</template>

<script>
// eslint-disable-next-line
import Container from '@/layouts/container/Container';
import '@/scss/__config-base.scss';

export default {

    name: 'app',
    components: {
        'main-container': Container,
    },

};
</script>

<style lang="scss">

@import '~@/scss/__config-base.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
body{
    margin: 0 !important;
    padding: 0 !important;
    border: none;
}

</style>
