<template>
  <ul class="navbar-nav" style="color: white">
    <li v-for="route of routes" class="user-item">
      <a :href="route.path">{{ route.name }}</a> 
    </li>
  </ul>
</template>

<script>

  import { routes } from '../../routes';

  export default {

    data(){
      return{
        routes: routes.filter((elem)=>{
          if(elem.controlUser){
            return elem;
          }
        }),
      }
    }
  }

</script>

<style scoped lang="scss">
   
   @import "./Settings";

</style>
