a{
    text-decoration: none;
    color: #fff;
}

.user-item{
    a{
        font-weight: 900;
        font-size: 1.2em;
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        display: block;
        &:hover{
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            &:after,&:before{
                min-width: 100%;
            }
        }
        &:after,&:before{
            transition: linear .2s;            
            content: '';
            position: absolute;
            min-width: 0%;
            height: 2px;
            background-color: #fff;
        }
        &:after{
            bottom: 10px;
            right: 0;
        }
        &:before{
            left: 0;
            top: 10px;
        }
    }
    
}